@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Dancing+Script&family=Julius+Sans+One&family=Luckiest+Guy&family=Ms+Madi&family=Square+Peg&family=Tajawal:wght@200&family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Dancing+Script&family=Julius+Sans+One&family=Luckiest+Guy&family=Ms+Madi&family=Square+Peg&family=Tajawal:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Luckiest+Guy&family=Ms+Madi&family=Square+Peg&family=Tajawal:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Luckiest+Guy&family=Ms+Madi&family=Square+Peg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Julius+Sans+One&family=Luckiest+Guy&family=Ms+Madi&family=Square+Peg&family=Tajawal:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Dancing+Script:wght@400;500&family=Julius+Sans+One&family=Luckiest+Guy&family=Ms+Madi&family=Square+Peg&family=Tajawal:wght@200&family=Yeseva+One&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}


.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr auto 0.5fr;
    grid-template-areas:
        "header header"
        "main main"
        "footer footer";
}

/*------header----*/

.header {
    width: 100%;
    grid-area: header;
}




/*------main-----*/
main {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
    grid-area: main;
    width: 100%;
    height: auto;
    margin-top: 30px;
}


h1 {
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(45deg, palevioletred, pink);
    animation: hue-rotate 2s linear infinite alternate;
    margin-top: 35px;
    height: 150px;
    text-shadow: 0px 10px 10px;
    padding: 30px;
}

@keyframes hue-rotate {
    to {
        filter: hue-rotate(90deg);
    }
}

.card-descuento {
    width: 100%;
    height: auto;
    background-color: rgb(252, 194, 203);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.card-descuento div {
    width: 300px;
    height: 450px;
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
}

.card-descuento div img {
    width: 350px;
    height: 400px;
    inset: 0;
    opacity: .7;
    transition: transform .75s;
    object-fit: cover;
}

.card-descuento div img:hover {
    transform: scale(1.25);
}

.card-descuento div p {
    width: 200px;
    font-size: 40px;
    color: white;
    position: absolute;
    mix-blend-mode: screen;
}
.card-descuento div a{
    background-color: black;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.promo{
    background-color: white;
    height:auto;
}



.promo h2 {
    color: white;
    font-family:'Dancing Script', cursive;
    font-size: 50px;
    text-align: center;
    text-transform:capitalize;
    background-color: #e6ba95;
}

.promo div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}



.promo div div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
}

.promo div div p {
    font-size: 16px;
    text-align: center;
}

.promo div div button {
    width: 150px;
    height: 60px;
    background-color: pink;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 2px 2px;
    border-color: #ec4bec;
}
.productos{
    background-color: white;
    height: auto;
}
.productos h2 {
    color: white;
    background-color: #b9867e;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    text-transform: capitalize;
}




.productos div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    font-size: 16px;
    text-transform: uppercase;
}

.productos div div{
    background-color: #e6ba95;
    width: 300px;
    height: 430px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 50px;
    text-align: center;
    transition: all 0.25s;
}

.productos div div:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.productos div div img{
    width: 250px;
    height: 220px;
}

.productos div div h3{
    font-weight: 600;
    font-size: 16px;
    background-color: white;
    color: black;
    margin-top: 10px;
}

.productos div div p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.productos div div button{
    font-weight: 500;
    width: 200px;
    height: 30px;
    position: relative;
    background-color: #b9867e;
    color: rgb(244, 243, 244);
    border: none;
    cursor: pointer;
    transition: .3s;
    border-radius: 5px;
    margin-bottom: 5px;
}

button :hover{
    background-color: #b9867e;
}




.marcas h2{
    background-color: #e6ba95;
    text-align: center;
    color: #fafdd6;
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    text-transform: capitalize;
}

.marcas div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

/*----footer----*/

footer{
    background-image: radial-gradient(pink, #FFA1A1, #FF8AAE, #F900BF );;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: black;
    line-height: 30px;
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: auto;
    text-transform: uppercase;
}

footer ul{
    list-style: none;
}

footer ul li h3{
    font-size: 20px;
    text-decoration: none;
    color: white;
}

.redes{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.redes a img{
    width: 50px;
    height: auto;
}






/*css productos de u単as*/



/*-----mainu単as------*/

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr auto 0.5fr;
    grid-template-areas:
        "header header"
        "main main"
        "footer footer";
}
.columna{
    height: 80vh;
    display: flex;
    border-style: double;
}
.columna div{
    width: 70%;
    border: #333 3px;
}
.columna div h5{
    font-size: 50px;
    width: 50%;
    color: palevioletred;
}

.columna div p{
    width: 70%;
    font-size: 14px;
    text-transform:initial;
    text-align: justify;
}

.hero{
    width: 30%;
    background-image: url(../img/u単as-pintadas.jpg);
    background-size: cover;
    background-position: center;
}










/*--------beauty------*/



/*--------main-----*/
.promociones{
    background-color: pink;
}
.promociones div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.promociones div div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid palevioletred;
    width: 450px;
    height: 500px;
}
.img1{
    background-image: url(../img/cojeras.jpeg);
    background-size: cover;
    border-radius: 900px 900px 900px 900px;
}
.img2{
    background-image: url(../img/masc-vitc.jpeg);
    background-size: cover;
    background-position:en;
    background-size: 100%;
    border-radius: 600px 600px 600px 600px;
}

.promociones div div button{
    width: 100%;
    height: 20vh;
    background-color: rgba(255, 192, 203, 0.592);
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    color: red;
    border: none;
}
.columna-beauty{
    height: 80vh;
    display: flex;
    border-style: double;
    background-color: white;
}
.columna-beauty div{
    width: 70%;
    border: #333 3px;
}
.columna-beauty div h5{
    margin-top: 20px;
    color: palevioletred;
    font-size: 60px;
    text-transform: uppercase;
    text-shadow:pink 2px 2px;
    text-align:center;
}
.columna-beauty div p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    margin: 30px;
}
.columna-beauty div ol{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.columna-beauty div ol li{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: justify;
}

.hero-beauty{
    background-image: url(../img/facial.jpg);
    width: 30%;
    background-size: cover;
    background-position: 100%;
}






/*--------productos de peluqueria----*/



/*---------main-------*/




/*-------cursos-------*/
h2{
    background-color: #b9867e;
    color:pink;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    text-transform: uppercase;
}
.cursos{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.cursos div{
    width: 350px;
    height: 800px;
    display: flex;
    flex-direction: column;
}



.curso-pelu{
    width: 600px;
    height:750px ;
    background-image: url(../img/pelu.jpeg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.curso-h5{
    font-size: 40px;
    background-color: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    text-transform: uppercase;
    text-align: center;
    color: black;
}

.curso-makeup{
    width: 600px;
    height:750px ;
    background-image: url(../img/card-cursos.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cursos div p{
    font-size: 16px;
    text-transform: capitalize;
}
.curso-manicuria{
    width: 600px;
    height:750px ;
    background-image: url(../img/u単as-pintadas.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.formulario{
    background-color: pink;
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    text-transform: capitalize;
    margin: 20px;
}
.conocenos{
    width: 100%;
    height: 90vh;
    background-image: url(../img/girl.jpg);
    background-size: cover;
    background-position: center;
    background-color: #ffffff10;
    opacity: 0.5;
    margin-bottom: 20px;
}

.conocenos h5{
    font-family: 'Courier New', Courier, monospace;
    font-size: 100px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    text-shadow: #F900BF 5px 5px;
}
.conocenos p{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    text-align: center;
    padding: 20px;
    background-color: #333;
    opacity: 0.8;
}


/*----------media-------*/

@media screen and (max-width: 1290px){
    .columna div h5{
        font-size: 40px;
    }
}


@media screen and (max-width: 1050px){
    .columna{
        height: 70vh;
    }
    .columna div h5{
        font-size: 30px;
        text-align: center;
    }
}
@media screen and (max-width: 1000px){
    h1{
        font-size: 50px;
    }
    .conocenos p{
        font-size: 25px;
    }
}
@media screen and (max-width: 970px){
    .columna-beauty div h5{
        font-size: 50px;
    }
    .columna-beauty div p{
        text-align: justify;
    }
    .columna-beauty div ol li{
        text-align: center;
        margin-left: 10px;
    }
}

@media screen and (max-width: 847px){
    h1{
        font-size: 40px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width: 800px){
    .columna-beauty div h5{
        font-size: 40px;
    }
    .columna-beauty div p{
        margin: 10px;
        font-size: 16px;
    }
    .columna-beauty div ol li{
        font-size: 16px;
    }
}



@media screen and (max-width: 785px){
    .columna{
        height: 60vh;
    }
    .columna div h5{
        font-size: 20px;
    }
    .columna div p{
        width: 90%;
    }
}
@media screen and (max-width: 770px){
    .a-curso{
        font-size: 100px;
    }
    .conocenos p{
        font-size: 20px;
    }
    .conocenos{
        background-position: 50%;
    }

}
@media screen and (max-width: 730px){
    .conocenos{
        height: 60vh;
        background-color: #F900BF;
        background-image: none;
    }
    .conocenos h5{
        font-size: 60px;
    }
    .conocenos p{
        color: #333;
        font-size: 20px;
        text-align: center;
        background-color: pink;
        opacity: 0.8;
    }
}

@media screen and (max-width: 675px){
    .columna-beauty{
        height: 70vh;
    }
}

@media screen and (max-width: 650px){
    .columna div{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 638px){
    .columna div p{
        font-size: 12px;
    }
    h1{
        font-size: 20px;
    }
}

@media screen and (max-width: 620px){
    .a-curso{
        font-size: 90px;
    }
}
@media screen and (max-width: 618px){
    main{
        margin-top: 65px;
    }
}

@media screen and (max-width: 510px){
    .columna div h5{
        font-size: 16px;
        width: 90%;
    }
    .conocenos{
        height: 50vh;
    }
    .conocenos h5{
        font-size: 40px;
    }
    .conocenos p{
        font-size: 16px;
    }
}
@media screen and (max-width: 492px){
    .columna-beauty{
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url(../img/facial.jpg);
        background-size: cover;
        background-position: 100%;
    }
    .columna-beauty div h5{
        font-size: 20px;
    }
    .columna-beauty div ol{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width: 470px){
    h1{
        font-size: 20px;
    }
}
@media screen and (max-width: 455px){
    .columna div p{
        width: 95%;
        height: 100%;
    }
    .columna{
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: pink;
    }
    .hero{
        background-image: none;
    }

}
@media screen and (max-width: 395px){
    .conocenos{
        height: 55vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .conocenos h5{
        font-size: 20px;
        margin-top: 10px;
    }
    .conocenos p{
        width: 90%;
        height: 50vh;
        font-size: 14px;
    }
}






/*# sourceappingURL=styles.css.map*/