@import "../base/variables";

footer{
    background-image: radial-gradient($color-base, #FFA1A1, #FF8AAE, #F900BF);
    font-family: $tipografia-alternativa;
    font-size: $fuente-chica;
    color: $color-secundario;
    line-height: $fuente-media;
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $fuente-normal;
    width: $porcentaje-mayor;
    height: auto;
    text-transform: uppercase;
    ul{
        list-style: none;
        li{
            h3{
                font-size: $fuente-normal;
                text-decoration: none;
                color: $color-primario;
            }
        }
    }
    .redes{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        a{
            img{
                width: $fuente-grande;
                height: auto;
            }
        }
    }
}