$primario: palevioletred;
$secundario:  #b9867e;
$fondo:  #E6BA95;
$texto:  #FAFDD6;
$tipografia-principal: 'Caveat', cursive;
$tipografia-alternativa: Arial, Helvetica, sans-serif;
$fuente-normal: 16px;
$fuente-media: 30px;
$fuente-grande: 50px;

