$primario: palevioletred;
$fondo-alternativo: pink;
$secundario:  #b9867e;
$fondo:  #E6BA95;
$texto:  #FAFDD6;
$color-principal: black;
$texto-alternativo: white; 
$tipografia-principal: 'Caveat', cursive;
$tipografia-alternativa: Arial, Helvetica, sans-serif;
$fuente-normal: 16px;
$fuente-peque: 20px;
$fuente-media: 30px;
$fuente-media-extra: 40px;
$fuente-grande: 50px;
$fuente-mediagrande: 80px;
$fuente-extra: 100px

