$color-base: pink;
$color-base-segundo: palevioletred;
$color-primario: white;
$color-secundario: black;
$color-fondo: #e6ba95;
$color-fondo-secundario:#b9867e;
$fondo-cover: #333;
$fondo-cove-secundario: #ffffff10;
$color-marcador: red;
$tipografia-principal: Arial, Helvetica, sans-serif;
$tipografia-secundario: 'Courier New', Courier, monospace;;
$tipografia-titulo: 'Dancing Script', cursive;
$tipografia-alternativa: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$fuente-extra-grande: 100px;
$fuente-extra: 60px;
$fuente-grande: 50px;
$fuente-media-grande:40px;
$fuente-media: 30px;
$fuente-normal: 20px;
$fuente-chica: 16px;
$fuente-pequeña: 14px;
$fuente-mini: 12px
$porcentaje-mayor:100%;
$porcentaje-medio: 50%;


